jinja2==3.0.3
jupyter-book==0.13.1
sphinx==4.5.0
sphinx_rtd_theme==1.0.0
pytest==6.2.5
pytest-cov==3.0.0
jsonschema==3.2.0
ruamel.yaml==0.17.17
demes==0.2.2
demesdraw==0.3.0
hypothesis-jsonschema==0.20.1
# See https://github.com/executablebooks/jupyter-book/issues/1902
jupyter-server<2
